@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&family=Hurricane&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Benguiat";
    src: url("./fontes/Benguiat\ Bold.ttf");
}
html, body{
    overflow-x: hidden !important;
}
body {
    background-color: #0C0102;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

button {
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4vw;
    position: absolute;
    z-index: 9;
}

section {
    width: 100%;
    display: flex;
    padding: 7vw;
}

h2 {
    font-size: 40px;
    font-weight: 500;
}

button {
    background-color: transparent;
    color: white;
    font-size: 16px;
    display: flex;
    gap: 12px;
    border: none;
    outline: none;
    padding: 16px 0;
    border-bottom: 1px solid white;
}

#preLoader{
    width: 100%;
    height: 100vh;
    background-color: #0C0102;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;

    svg{
        width: 20vw;
        height: auto;

        path{
            fill:rgba(168, 19, 19,  0.3);
            stroke: rgb(168, 19, 19);
            stroke-dasharray: 640;
            stroke-dashoffset: 640;
        }
    }
}

.bgMostro {
    background-color: #0C0102;
    background-image: url("./images/imagem_devorador_mentes.png");
    background-size: cover;
    background-position: center;
    z-index: 2;
    position: relative;
    
}

ul {
    list-style-type: none;
}

.hero {
    /* A primeira medida é vertical a segunda horizontal */
    background-position: 50% 0%;
    background-size: cover;
    height: 100vh;
    padding: 0 7vw 7vw 7vw;
    align-items: center;
    justify-content: space-between;
    position: relative;

    picture{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
        }
    }

    .esquerda-hero,
    .direita-hero{
        width: 30%;
        z-index: 3;
    }

    .esquerda-hero {
        h3 {
            font-size: 24px;
            font-weight: 500;
            letter-spacing: 4px;
        }

        h1 {
            font-size: 3.7vw;
            font-family: 'Benguiat', sans-serif;
        }
    }

    .direita-hero {
        display: flex;
        flex-direction: column;
        align-items: end;

        p {
            font-size: 2vw;
            text-align: end;
            margin-bottom: 32px;
        }
        /* Adicionar hover no button */
        button:hover{
            background-color: rgba(150, 150, 150, 0.55);
            transition: background-color 600ms ease-in-out;
            border-radius: 5px;
        }

        button {
            transition: background-color 600ms ease-in-out;
        }

    }
}

.hero:before{
    content: "";
    background: linear-gradient(180deg, rgba(12,1,2,0.00) 0%, #0C0102 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
}

.cidade {
    flex-direction: column;
    position: relative;

    .title-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cards {
        display: flex;
        justify-content: space-between;
        margin-top: 52px;

        .card {
            background-image: url("./images/sidney.png");
            width: 32%;
            aspect-ratio: 16/9;
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: end;
            justify-content: space-between;
            padding: 20px;
        }

        .card:nth-child(2) {
            background-image: url("./images/newMexico.png");
        }

        .card:nth-child(3) {
            background-image: url("./images/island.png");
        }
    }

}

.depoimentos-section {
    flex-direction: column;

    .logotipos {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .depoimentos {
        margin-top: 62px;
        display: flex;
        justify-content: space-between;

        .depoimentos-user {
            width: 31%;
        }
    }
}

.thanks-section {
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    background-color: #0C0102;

    h2 {
        margin-bottom: 40px;
    }

    ul {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./images/vecna.png");
    background-position: center;
    background-size: cover;

    .conteudoFooter {
        display: flex;
        width: 100%;
        padding: 7vw;

        .logoFooter {
            width: 30%;

            h3 {
                font-size: 24px;
                font-weight: 500;
                letter-spacing: 4px;
            }

            h2{
                font-size: 3.7vw;
                font-family: 'Benguiat';
            }
        }

        .secoesFooter {
            display: flex;
            flex: 1;
            justify-content: end;
            gap: 6%;

            h3 {
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 12px;
            }

            .social {
                display: flex;
                flex-direction: column;

                ul {
                    display: flex;
                    gap: 12px;
                }
            }
        }
    }

    .logotiposFooter{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 4vw;
    }

    .textoInfinito{
        display: flex;
        width: max-content;
        h3{
            color: rgb(191, 191, 191);
            font-size: 12vw;
            font-family: 'Benguiat', sans-serif;
            mix-blend-mode: color-dodge;
            animation: textoInfinito 15s infinite linear;
            padding-left: 3vw;
        }
    }
}

@keyframes textoInfinito {
    100%{
        transform: translateX(-100%);
    }
    
}

/* MEDIA QUERIES */

@media (max-width:1500px){
    .cidade{
        padding: 4vw;
    }
}

@media (max-width:1400px){
    .cidade .cards .card{
        flex-direction: column;
        align-items: start;
        justify-content: end;
    }
}
/* MEDIA QUERIES PARA CELULARES */
@media (max-width:600px){
    section{
        padding: 4vw;
    }
    h2{
        font-size: 6vw;
    }
    header h2{
        font-size: 28px;
    }
    .hero{
        flex-direction: column;
        padding: 26% 4vw 0;
        .esquerda-hero, .direita-hero{
            width: 100%;
        }
        .esquerda-hero{
            h3, h1{
                text-align: center;

            }

            h1{
                font-size: 12vw;
            }
        }
        .direita-hero{
            align-items: start;
            p{
                font-size: 5.5vw;
                text-align: start;
                margin-bottom: 16px;
            }
        }
    }
    .cidade{
        margin-top: 80px;
        button{
            display: none;
        }

        .cards{
            margin-top: 20px;
            flex-direction: column;
            gap: 20px;

            .card{
                width: 100%;
            }
        }
    }
    .depoimentos-section{
        .logotipos{
            img:nth-child(1), img:nth-child(3){
                width: 20%;
            }
            img:nth-child(2){
                width: 40%;
            }
        }
        .depoimentos{
            flex-direction: column;
            gap: 48px;
            .depoimentos-user{
                width: 100%;
            }
        }
    }
    .thanks-section{
        margin: 40px 0 60px;
        h2{
            text-align: center;
        }
        ul{
            width: max-content;
            gap: 32px;
            li{
                animation: textoInfinito 12s infinite linear;
            }
            li:before{
                content: "Sidney • Rio de Janeiro • São Paulo • Los Angeles • Nova York • San Francisco • Londres • Atlanta • Paris • Toronto • Seattle";
            }
        }
    }
    footer{
        padding-top: 40px;
        .conteudoFooter{
            padding: 4vw;
            flex-direction: column;

            .logoFooter{
                width: 100%;

                h2, h3{
                    text-align: center;
                }
                h2{
                    font-size: 12vw;
                }
            }

            .secoesFooter{
                flex-wrap: wrap;
                justify-content: center;
                align-items: start;

                .social{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 40px 0 32px;
                }
                .institucional{
                    width: 40%;
                }
                .parceiro{
                    width: 50%;

                    img{
                        width: 100%;
                    }
                }
            }
        }

        .logotiposFooter{
            margin-top: 40px;
        }

        .textoInfinito h3{
            font-size: 20vw;
        }
    }
}